#Options +FollowSymLinks

RewriteEngine On
# RewriteBase / thefuture

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(css|js|fonts|images|plugins)($|/) - [L]



# Set The form page
RewriteRule ^register/invitation/([0-9a-zA-Z]+)$	private_registration.php?form=$1 [L]
RewriteRule ^register/([0-9a-zA-Z]+)$	register.php?form=$1 [L]
RewriteRule ^registration/event/([a-z]+)/([0-9]+)$	register.php?form=$2&event_type=$1 [L] 
RewriteRule ^register/$ register.php?form=$1 [L]
RewriteRule ^registration$ forms/register_action.php [L]

#-----------------------------------------------#
# Set The Mail page
#-----------------------------------------------#
RewriteRule ^mail_smtp(/*)$ admin/config/mail/mails/smtp.php
RewriteRule ^mail_smtp_noreply(/*)$  admin/config/mail/mails/smtp_noreply.php


# Set Payment page
RewriteRule ^ebadge/([0-9a-zA-Z]+)$	admin/badge.php?authtoken_=$1 [L] 
RewriteRule ^admin/ebadge/([0-9a-zA-Z]+)$	admin/badge.php?authtoken_=$1 [L] 
RewriteRule ^participant/ebadge/([0-9a-zA-Z]+)$	admin/badge.php?authtoken_=$1 [L] 

# Set Payment page
RewriteRule ^payment/([0-9a-zA-Z]+)$	paymentmethod.php?authtoken_=$1 [L] 

# Set the website content pages
RewriteRule ^admin/pages/content/link/([^/]+)$ admin/pages/content/link.php?eventId=$1 [L]
RewriteRule ^admin/pages/content/attedence/type/([^/]+)$ admin/pages/content/attendence_type.php?eventId=$1 [L]
RewriteRule ^admin/pages/content/attedence/subtype/([^/]+)$ admin/pages/content/attendance_subtype.php?eventId=$1 [L]
RewriteRule ^admin/pages/content/banner/([^/]+)$ admin/pages/content/banner.php?eventId=$1 [L]
RewriteRule ^admin/pages/content/about/([^/]+)$ admin/pages/content/about.php?eventId=$1 [L]
RewriteRule ^admin/pages/content/countdown/([^/]+)$ admin/pages/content/countdown.php?eventId=$1 [L]
RewriteRule ^admin/pages/content/quote/([^/]+)$ admin/pages/content/quote.php?eventId=$1 [L]
RewriteRule ^admin/pages/content/why_attend/([^/]+)$ admin/pages/content/why_attend.php?eventId=$1 [L]
RewriteRule ^admin/pages/content/outcomes/([^/]+)$ admin/pages/content/outcomes.php?eventId=$1 [L]
RewriteRule ^admin/pages/content/speakers/([^/]+)$ admin/pages/content/speakers.php?eventId=$1 [L]
RewriteRule ^admin/pages/content/partners/([^/]+)$ admin/pages/content/partners.php?eventId=$1 [L]
RewriteRule ^admin/pages/content/program/([^/]+)/([^/]+)$ admin/pages/content/program.php?eventId=$1&day=$2 [L]

RewriteRule ^admin/pages/participants/all/([^/]+)$ admin/pages/participants/all.php?eventId=$1&participationTypeToken=all [L]
RewriteRule ^admin/pages/participants/([0-9]+)/([^/]+)$ admin/pages/participants/all.php?eventId=$2&participationTypeToken=$1 [L]
RewriteRule ^admin/pages/participants/([0-9]+)/([0-9]+)/([^/]+)$ admin/pages/participants/all.php?eventId=$3&participationTypeToken=$2&participationSubTypeToken=$1 [L]
RewriteRule ^admin/pages/participants/profile/([0-9]+)$ admin/pages/participants/profile.php?participantToken=$1 [L]
RewriteRule ^admin/pages/accounts/export_client/([^/]+)$ admin/pages/accounts/export_client.php?clientId=$1 [L]

RewriteRule ^admin/pages/exhibitors/list/([^/]+)$ admin/pages/exhibitors/list.php?eventId=$1 [L]
RewriteRule ^admin/pages/exhibitors/exhibitor/([^/]+)$ admin/pages/exhibitors/exhibitor.php?exhibitorId=$1 [L]

RewriteRule ^visit_exhibition/([^/]+)$ visit_exhibition.php?url=$1 [L]

RewriteRule ^admin/pages/content/partnership/([^/]+)$ admin/pages/content/partnership.php?eventId=$1 [L]

RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php


# ErrorDocument 404 /404
# ErrorDocument 500 /404
# IndexIgnore *

<Files ^(*.jpeg|*.jpg|*.png|*.gif|*.pdf)>
order deny,allow
deny from all
</Files>
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule ^sub_directory/(.*)$ /$1 [R=301,NC,L]
</IfModule>
